<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<WatchedResources>WEB-INF/web.xml</WatchedResources>
	
	<Resource
		factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
		name="jdbc/tomcatDataSource"
		auth="Container"
		type="java.sql.DataSource"
		initialSize="1"
		maxActive="20"
		maxIdle="3"
		minIdle="1"
		maxWait="5000"
		username="agenda"
		password="123456"
		driverClassName="oracle.jdbc.driver.OracleDriver"
		validationQuery="SELECT 'OK';"
		testWhileIdle="true"
		testOnBorrow="true"
		numTestsPerEvictionRun="5"
		timeBetweenEvictionRunMillis="30000"
		minEvictableIdleTimeMillis="60000"
		url="jdbc:oracle:thin:@//localhost:1521:xe"
	/>
</Context>